.meeting-venues-container{
    width: 100%;
    padding: 16px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
.meeting-venues-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.meeting-venues-item{
    width: 100%;
}
.meeting-venues-overview{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;    
    & p{
        text-align: center;
    }
    & a{
        width: max-content;
        padding: 8px 16px;
        margin-top: 32px;
        display: flex;
        align-self: center;
        justify-self: center;
        text-transform: capitalize;
        color: black;
        border: 1px solid #F27300;
    }
}
.meeting-venues-overview h2{
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
}
.meeting-venues-overview h2::after{
    content: "";
    width: 64px;
    height: 3px;
    background-color: red;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%, 50%);
}
.meeting-venues{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 5px;
    padding-bottom: 16px;
}
.meeting-venue {
    height: 400px;
    width: 100%;
    flex-shrink: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
   
}
.meeting-venue img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-color: lightblue;
}
.meeting-venue h2{
    width: auto;
    padding: 8px 16px;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1.4px;
    transition: all 300ms ease;

    position: absolute;
    top: 50%;
    transform: translateY(-50%, -50%);
    -ms-transform: translateY(-50%, -50%);
    z-index: 1;  
}
.meeting-venue h2:hover{
    background-color: #F27300;
 }
.meeting-venues::-webkit-scrollbar{
    width: 32px;
    height: 5px;
  }
.meeting-venues::-webkit-scrollbar-track{
    background-color: white;
    border-bottom: 1px solid lightgray;
}
.meeting-venues::-webkit-scrollbar-thumb{
    background-color: burlywood;
}

@media screen and (min-width:768px) {
    .meeting-venues-wrapper{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        gap: 3%;
    }
    .meeting-venues-overview{
        width: 52%;
        & p{
            padding: 0;
            text-align: center;
        }
    }
    .meeting-venues{
        width: 45%;       
    }
    .meeting-venue{
        width: 100%;
    }
}
@media screen and (min-width:1024px) {
    .meeting-venues-wrapper{
        width: 95%;
    }
    .meeting-venues-overview{
        width: 35%;
        & p{
            padding: 0;
            text-align: center;
        }
    }
    .meeting-venues{
        width: 60%;
        overflow: visible;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
    }
}
@media screen and (min-width:1220px) {
    .meeting-venues-wrapper{
        width: 90%;
    }
}