.room-layout{
    width: 100%;
    position: relative;
}

.room-display{
    width: 100%;
    height: 500px;
    position: relative;
}
.room-display img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.room-display_amenities{
    width: 100%;
    display: flex;
    gap: 34px;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 1;
    white-space: nowrap;

    & h1{
        font-weight: 400;
        color: white;
        text-transform: uppercase;
        text-wrap: nowrap;
    
    }

    
}
.amenities-sample_wrapper{
    display: flex;
    gap: 32px;
    color: white;
}
.amenities-sample_wrapper div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: capitalize;
    gap: 8px;
}
.amenities-sample_wrapper div svg{
    font-size: 24px;
}
.amenities-sample_wrapper div span{
    font-size: 16px;
    font-weight: 400;
}
.room-description{
    width: min(100%, 768px);
    margin: 20px auto 0;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & p{
        line-height: 30px;
        text-align: center;
    }
}
.room-description h2{
    text-align: center;
    position: relative;
    padding-bottom: 24px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}
.room-description h2::after{
    content: "";
    width: 64px;
    height: 3px;
    background-color: red;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%, 50%);
}
.room-items{
    width: 100%;
    padding: 16px;
    margin: 64px auto 100px;
    display: grid;
    gap: 64px;
    justify-content: space-around;
}
.room-amenities{
    display: flex;
    flex-direction: column;

    & h3{
      margin-bottom: 16px;
      font-weight: 500;
    }
}
.amenities-wrapper{
    display: flex;
    flex-direction: column;
    column-gap: 48px;
}
.amenity{
  padding: 12px 0;
  text-transform: capitalize;
  text-align: start;
  display: flex;
  gap: 12px;

  & svg{
    font-size: 24px;
    color: #F27300;
  }
}
.room-reservation{
    color: black;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    & h3{
        text-transform: capitalize;
        margin-bottom: 16px;
        font-weight: 500;
    }
    & p{
        text-align: start;
    }
}
.room-contacts{
    width: 100%;
    margin: 8px 0;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: start;

    & a{
        height: 32px;
        padding: 4px 32px;
        color: black;
        background-color: #f1f1f1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & svg{
        font-size: 18px;
    }
    
}
.checkin-and-checkout{
    width: 100%;
    display: flex;
    gap: 16px;
    margin: 32px 0 16px;

    & h4{
        font-weight: 500;
        text-transform: capitalize;
    }
    & div{
        display: flex;
        gap: 8px;
    }

}

.room-price-booking{
    padding: 16px;
    width: 100%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--bg-secondary);
}
.room-price{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    & h4{
        font-weight: 500;
        text-transform: capitalize;
    }
}
.room-price div{
    display: flex;
    gap: 16px;
    margin-bottom: 8px;
}
.room-price div span{
    display: flex;
    align-items: flex-end;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    & svg{
        color: black;
        font-size: 18px;
        margin-right: 8px;
    }
    
}
.price{
    display: flex;
    align-content: end;
    gap: 8px;
    & svg{
        font-size: 24px;
    }

    & span{
        font-weight: 700;
        font-size: 17px;
    }
}
.booking-btn{
    color: white;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 16px;
    background-color: #F27300;
    text-transform: capitalize;
    border-radius: 16px;
}
.room-gallery-container{
    padding: 16px 8px;
}
.room-gallery-container h2{
    text-align: center;
    position: relative;
    padding-bottom: 24px;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}
.room-gallery-container h2::after{
    content: "";
    width: 64px;
    height: 3px;
    background-color: red;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%, 50%);
}
.room-gallery{
    width: 100%;
    height: 350px;
    margin: 0 auto;
    padding: 16px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
    gap: 5px;
    cursor: pointer;
}
.room-gallery::-webkit-scrollbar{
    display: none;
}
.room-gallery div{
    width: 90%;
    height: 100%;
    flex-shrink: 0;
}
.room-gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}
.room-gallery div{
    width: 325px;
    height: 100%;
    flex-shrink: 0;
    cursor: pointer;
}
.room-gallery video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.room-gallery div h2{
    position: absolute;
    margin: 16px auto 32px;
    left: 0;
    bottom: 0;
    text-transform: capitalize;
}
.modal{
    width: 100%;
    height: 100%;
    padding: 16px;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease;
    
}
.modal-content{
    width: 98%;
    margin: 0 auto;
    height: 300px;
    border: 3px solid #f4f4f4;
}

.modal-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    animation: zoom 0.3s;
    
}

@keyframes zoom {
    from{transform: scale(0.8);}
    to{transform: scale(1);}
}
.close-modal{
    position: absolute;
    right: 32px;
    top: 32px;
    z-index: 10;
    transition: 0.3s;
}
.close-modal svg{
    color: white;
    font-size: 32px;
    cursor: pointer;
}

@media screen and  (min-width:425px){
    .room-display{
        height: 550px;
    }
    .amenities-wrapper{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .room-gallery div{
        width: 325px;
    }
}
@media screen and  (min-width:1024px){
    .amenities-sample_wrapper div span{
        font-size: 19px;
    }

    .room-items{
        width: 95%;
        margin: 64px auto;
        display: grid;
        gap: 0;
        grid-template-columns: 60% 40%;
    }
    .room-gallery{
        width: 95%;
    }
    .modal-content{
        width: 700px;
        height: 450px;
        margin: 0 auto;
    }
}
@media screen and  (min-width:1220px){
    .room-items{
        width: 90%;
    }
    .room-gallery{
        width: 90%;
    }
}