.intro{
    width: 100%;
    background-color: #76871D;
    color: white;
}
.intro-wrapper{
    width: 100%;
    padding: 16px 16px 64px;
    margin: 0 auto;
}
.intro-wrapper .intro-heading{
    margin: 24px auto 16px;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-weight: 400;
}
.intro-content{
    line-height: 30px;
    text-align: center;
}

@media screen and (min-width:768px) {
    .intro-wrapper{
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (min-width:1024px) {
    .intro-wrapper{
        width: 80%;
    }
    .intro-heading{
        font-size: 32px;
    }
}

@media screen and (min-width:1200px) {
    .intro-wrapper{
        width: 60%;
    }
   
}