.intro{
    width: 100%;
    background-color: #76871D;
    color: white;
}
.intro-wrapper{
    padding: 16px 16px 64px;
    margin: 0 auto;
    width: min(900px, 100%);
    display: block;
}
.intro-heading{
    margin: 24px auto 16px;
    width: max-content;
    font-weight: 400;  
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.intro-content{
    line-height: 30px;
    text-align: center;
}

@media screen and (min-width:768px) {
    .intro-wrapper{
        width: 90%;
        margin: 0 auto;
    }
}

@media screen and (min-width:1024px) {
    .intro-wrapper{
        width: 800px;
    }
}