.gallery-nav{
    margin: 32px auto;
    padding: 0 4px;
    width: min(100%, 1050px);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px;
}
.gallery-nav_link{
    color: black;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    overflow: hidden;
}

.gallery-nav_link:hover{

    font-weight: 500;
    color: goldenrod;
}