.highlights{
    width: 100%;
    padding: 24px 16px;
    margin: 64px 0 80px;
}
.highlights-heading{
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    padding-bottom:  20px;
    position: relative;
    margin-bottom: 64px;
    display: flex;
    justify-content: center;
}
.highlights-heading::after{
    content: "";
    width: 64px;
    height: 3px;
    background-color: red;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%, 50%);
}
.highlights-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px 16px;
}

.highlight{
    width: 100%;
    color: black;
    padding: 16px;
    border-radius: 8px;
    background-color: #f1f1f1;
    display: flex;
    gap: 12px;
    align-items: flex-start;
    & i{
        font-size: 22px;
        display: flex;
        align-self: flex-start;
        color: #F27300;
    }
}

.highlight div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
}
.highlight div p{
    font-size: var(--fs-small);
    &::first-letter{
        text-transform: capitalize;
    }

}
.highlight div span{
    font-weight: 500;
    text-transform: capitalize;
}


@media screen and ( min-width:700px ) {
    .highlights-wrapper{
        grid-template-columns: repeat(2, 1fr);
    }
    .highlight{
        width: 100%;
    }
}

@media screen and ( min-width:1024px ) {
    .highlights-wrapper{
        width: 95%;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
    }   
}
@media screen and ( min-width:1220px ) {
    .highlights-wrapper{
        width: 90%;
        grid-template-columns: repeat(4, 1fr);
    }
}


