.events{
    width: 100%;
}
.events h1{
    margin: 64px auto 32px;
    width: max-content;
    font-weight: 400;  
    text-align: center;
    text-transform: capitalize;
    border-bottom: 3px red solid;

}
.events-wrapper{
    width: 100%;
    padding: 32px 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;
}

.line{
    font-weight: 400;
    margin: 16px auto 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
  
}
.events p{
    line-height: 24px;
}
.btn{
    margin-top: 24px;
    display: flex;
    gap: 64px;
    align-items: center;
}
.btn h3{
    color: #F27300;
}
.btn a{
    background-color: #F27300;
    color: white;
    padding: 10px 32px;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.event{
    width: min(1000px, 100%);
    overflow: hidden;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
}

.event-details{
    padding: 16px 16px 32px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}
.event img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
}
.event-description{
    text-align: center;
    line-height: 24px;
}
.event-heading{
    text-transform: capitalize;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;

}

@media screen and (min-width: 768px){
    .event{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1024px){
    .event-details{
        justify-content: center;
    }
    .event img{
        height: 100%;
    }
    .event{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* height: 400px; */
        row-gap: 48px;
    }
}