.events{
    width: 100%;
    padding: 48px 0;
    background-color: white;
    & h2{
        text-transform: capitalize;
        font-weight: 500;
        text-align: center;
        margin-bottom: 32px;
    }
}
.events-wrapper{
    width: 100%;
}
.hall{
    width: 100%;
    margin-bottom: 86px;
}
.hall-details{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 0 16px;

    & p{
        text-align: center;
        padding: 0 8px;
    }
}
.hall-details div{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;

    & h3{
        display: flex;
        justify-self: flex-start;
        text-transform: uppercase;
        font-weight: 500;
    }
}
.hall-image{
    height: 325px;
    background-color: #f1f1f1;
    overflow: hidden;
    & img{
        object-fit: cover;
        object-position: center;
    }
}

.hall-details div h3{
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 16px;
    margin: 32px 0 16px;
    display: flex;
    justify-content: center;

}
.hall-details div h3::after{
    content: "";
    width: 64px;
    height: 3px;
    background-color: red;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%, 50%);
}
.hall-amenities-wrapper{
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 32px 0;
    & h3{
        text-transform: capitalize;
        font-weight: 500;
        margin-bottom: 16px;
    }
}
.hall-amenities{
    width: 100%;
    display: flex;
    row-gap: 16px;
    column-gap: 48px;
    flex-wrap: wrap;
}
.hall-amenity{
    width: 100%;
    padding: 16px 32px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: #f1f1f1;

    & i{
        font-size: 24px;
    }
    & span{
        font-weight: 500;
    }
}
.hall-contacts{
    margin-top: 48px;
    width: 100%;
    padding: 32px 24px;
    background-color: white;

    display: grid;
    place-items: centre;
    & h3{
        font-weight: 500;
        text-transform: capitalize;
        text-align: center;
    }
    & p{
        text-align: center;
        margin: 16px 0 ;
    }

    & a{
        font-size: 16px;
        color: black;
        padding: 8px 0;
        display: flex;
        align-content: flex-end;
    }
}
.hall-contacts svg{
    font-size: 20px;
    margin-right: 16px;
    color: #F27300;
}
@media screen and (min-width: 1024px){
    .events-wrapper{
        width: 70%;
        margin: 0 auto;
    }
    
    .hall-details{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 32px;
    }
    .hall-amenity{
        width: 425px;
    }
    
    .hall-contacts{
        width: 425px;
        margin: 0 auto;
    }
}