.events{
    width: 100%;
    padding: 16px 0;
}

.events-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 48px 0 32px;
}
.hall{
    width: 100%;
    margin-bottom: 40px;
}
.hall-details{
    width: 100%;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;

    & p{
        padding: 8px 0;
        text-align: center;
    }
}
.hall-details div{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    & h3{
        display: flex;
        justify-self: flex-start;
        text-transform: uppercase;
        font-weight: 500;
    }
}
.hall-image{
    height: 325px;
    background-color: #f1f1f1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    & img{
        object-fit: cover;
        object-position: center;
    }
}

.hall-details div h2{
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 16px;
    margin: 0 0 16px;
    display: flex;
    justify-content: center;

}
.hall-details div h2::after{
    content: "";
    width: 64px;
    height: 3px;
    background-color: red;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%, 50%);
}
.hall-amenities-wrapper{
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    & h2{
        text-transform: capitalize;
        font-weight: 500;
        margin-bottom: 16px;
    }
}

.hall-amenities{
    width: 100%;
    display: flex;
    row-gap: 16px;
    column-gap: 48px;
    flex-wrap: wrap;
}
.hall-amenity{
    width: 100%;
    padding: 16px ;
    border-radius: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: #f1f1f1;
    & span{
        font-weight: 500;
    }
}
.hall-contacts{
    padding: 16px;
    display: grid;
    place-items: centre;
    & p{
        text-align: center;
        margin: 16px 0 ;
        font-size: 18px;
    }

    & a{
        font-size: 16px;
        color: black;
        padding: 8px 0;
        display: flex;
        align-content: flex-end;
    }
}
.hall-contacts h2{
    font-weight: 500;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 16px;
    margin: 0 0 16px;
    display: flex;
    justify-content: center;

}
.hall-contacts h2::after{
    content: "";
    width: 64px;
    height: 3px;
    background-color: red;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%, 50%);
}
.hall-contacts svg{
    font-size: 20px;
    margin-right: 16px;
    color: #F27300;
}
@media screen and (min-width: 1024px){
    .events-wrapper{
        width: 90%;
        margin: 64px auto 32px;
    } 
    .hall-details{
        display: grid;
        grid-template-columns: 45% 50%;
        gap: 5%;
    }
    .hall-image{
        height: 400px;
    }
    .hall-amenity{
        width: 425px;
    }
  
    .hall-contacts{
        width: 1024px;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width: 1220px){
    .events-wrapper{
        width: 70%;
    }
}