.experiences{
    width: 100%;
    height: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    background-color: #fcedda;
}

.experiences-wrapper{
    width: min(700px, 100% );
    margin: 0 auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    justify-content: center;
    padding: 32px 16px;

    animation: fade-in 30s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-timeline: view();
    animation-range: entry 30px;
}
.experiences-wrapper h1{
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}
.experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.experience svg{
    font-size: 30px;
    padding: 18px;
    border-radius: 50%;
    background-color: white;
    color: black;
    height: 70px;
    width: 70px;
}
.experience h2{
    text-transform: capitalize;
    text-align: center;
    font-weight: 400;
    margin: 16px 0 18px;
}
.experience p{
    line-height: 24px;
    text-align: center;
}
@keyframes fade-in {
    0%{
       scale: .8;
    }
    100%{
      scale: 1;
    }
}
