.sidenav{
    height: 100vh;
    width: 100%;
    background-color:  #02102a;
    position: absolute;
    left: 0;
    top: 0;
    padding: 24px 16px;
    display: contents;
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 999;
    animation: scale-up 250ms ease;
}
@keyframes scale-up {
    0%{
        scale: 0;
    }
    100%{
        scale: 1;
    }
}
.close-nav{
    position: absolute;
    right: 16px;
    top: 64px;
    font-size: 32px;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg{
        color: whitesmoke;
    }
}
.sidenav-logo{
    margin: 16px 0 8px;
}
.sidenav-logo h3{
    color: white;
    font-weight: 500;
    letter-spacing: 4px;
    margin-top: 4px;

}
.sidenav-logo i{
    width: 50px;
    height: 50px;
    background-color: goldenrod;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.sidenav-items{
   width: 100%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.sidenav-items li {
    color: white;
    text-transform: capitalize;
    font-size: 22px;
    padding: 6px 16px;
}
.sidenav-items li .navLink{
    color: white;
    font-size: 22px;
    font-weight: 400;
}
.sub-menu{
    height: auto;
    cursor: pointer;
}
.sub-menu_heading{
    display: flex;
    font-weight: 500;
    
}
.sub-menu svg{
    color: gray;
}

.sub-menu ul li{
    text-transform: capitalize;
    color: whitesmoke;
}
.sub-menu ul li:hover{
    color: goldenrod;
}