.topnav{
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
    align-items: flex-end;
}
.topnav-link{
    color: black;
    text-transform: uppercase;
    text-wrap: nowrap;
    
    padding: 8px 16px;
    letter-spacing: 1.5px;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: 100ms all ease-out;
}
/* .topnav-link:hover{
    color: #F27300 ;
} */

.dropdown{
    width: 0 auto;
}
.dropdown-heading{
    color: black;
    text-transform: uppercase;
    
    padding: 8px 16px;
    letter-spacing: 1.5px;
    display: flex;
    align-items: flex-end;
    justify-content: center;

    & svg{
        color: gray ;
        font-size: 22px;
        margin-left: 4px;

    }
}
.dropdown-menu{
    width: 300px;
    padding: 32px 12px;
    border-radius: 6px;

    position: absolute;
    z-index: 1000;
    display: none;
    background-color: white;
    transition: all 600ms ease;
}
.dropdown-menu .nav-link{
    background-color: #fff;
    padding: 16px ;
}

.dropdown:hover .dropdown-menu{
    display: block;
    text-align: start;
    gap: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
