.topnav{
    width: 100%;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.topnav-link{
    padding: 5px 16px;
    color: black;
    text-transform: uppercase;
    text-wrap: nowrap;
    letter-spacing: 1.5px;
    font-size: 17px;
    overflow: hidden;
    transition: 100ms all ease-out;
}
.topnav-link:hover, .dropdown button:hover{
    background-color: #F27300;
    color: white;
}
.topnav-link:focus, .dropdown button:focus{
    background-color: #F27300;
    color: white;
}
.dropdown{
    position: relative;
}
.dropdown button{
    padding: 0 16px;
    height: max-content;
    font-size: 17px;
    color: black;
    letter-spacing: 1.5px;
    text-transform: uppercase;    
    gap: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
.dropdown button i{
    & svg{
        color: gray;
    }

}
.dropdown-menu{
    display: none;
}  
.dropdown:hover .dropdown-menu{
    display: block;
    width: 275px;
    padding: 23px 0 16px;
    border-radius: 5px;
    position: absolute;
    z-index: 1000;
    background-color: white;
    transition: all 600ms ease;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
}
.dropdown-menu .topnav-sublink{
    padding: 14px 16px;
    font-size: 17px;
    letter-spacing: 1.5;
    color: black;
    text-transform: uppercase;
}
.dropdown-menu .topnav-sublink:hover{
    font-weight: 500;
    color: white;
    background-color: #F27300;
}
.dropdown-menu .topnav-sublink:focus{
    font-weight: 500;
    background-color: #F27300;
    color: white;
}


/* .dropdown{
    position: relative;
}
.dropdown-menu{
    height: auto;
    position: absolute;
    left: 0;
    top: calc(100% + 2.5rem);
    background-color: white;
    padding: 0.75rem;
    border-radius: .25rem;
    box-shadow:  0 2px 5px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    transition:  opacity 150ms ease-in-out transform 150ms ease-in-out;
    pointer-events: none;
}
.dropdown > .linky:focus + .dropdown-menu{
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
} */
