.cta-btn-fixed{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #B60017;
}
.cta-btn-fixed a{
    padding: 8px 16px;
    color: white;
    font-weight: 400;
    font-size: var(--fs-normal);
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cta-btn-fixed a:hover{
    background-color: rgba(255, 255, 255, 0.1);
    
}