.hotel-logo-container{
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.hotel-logo{
    width: 50px;
    height: 50px;
    object-fit: contain;
    overflow: hidden;
}
.hotel-name{
    color: black;
    text-transform: uppercase;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}