.hotel{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
}
.hotel-logo{
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: goldenrod;
}
.hotel-name{
    white-space: nowrap;
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}