.cta-btn-fixed{
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: none;
    justify-content: center;
    align-items: center;
    gap: 16px;

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: #B60017;
    color: rgba(255, 255, 255, 0);
}
.cta-btn-fixed label{
   cursor: pointer;
    color: white;
    padding: 8px 16px;
    font-size: 16px;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 8px;

    & svg{
        font-size: 18px
    }
}
.cta-btn-fixed label a{
    color: white;
    text-transform: capitalize;
}
.cta-btn-fixed label:hover{
    background-color: rgba(255, 255, 255, 0.1);
    
}