.about{
    width: 100%;
    background-color: #76871D;
    color: white;
}
.about-wrapper{
    padding: 16px 16px 64px;
    margin: 0 auto;
    width: min(900px, 100%);
    display: block;
}

.about-content{
    line-height: 30px;
    text-align: start;
}

@media screen and (min-width:768px) {
    .about-wrapper{
        width: 90%;
        margin: 0 auto;
    }
    
}
@media screen and (min-width:1024px) {
    .about-wrapper{
        width: 800px;
    }
}


