.gallery{
    width: 100%;
}

.gallery-content{
    width: 100%; 
    padding:  16px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    align-content: center;
    justify-content: center;
}
.image-container{
    width: 100%;
    height: 250px;
    cursor: pointer;
}
.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: centre;
}
.gallery-modal{
    width: 100%;
    height: 100%;
    padding: 0 16px;
    background-color: rgba(0,0,0,0.95);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease;
    
}
.gallery-modal-content{
    width: 100%;
    height: auto;
    animation: zoom 0.3s;
}

.gallery-modal-image{
    width: 100%;
    height: 325px;
    overflow: hidden;
    border: 1px solid whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;

    & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
   
}
.close-modal{
    position: absolute;
    right: 32px;
    top: 32px;
    z-index: 10;
    transition: 0.3s;
}
.close-modal svg{
    color: white;
    font-size: 32px;
    cursor: pointer;
}

.gallery-images-wrapper{
    margin: 32px auto;
    width: 100%;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    transition: 300ms all ease-in-out;
    
}
.gallery-images-wrapper div{
    width: 72px;
    height: 72px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    & img{
        width: 100%;
        height: 100%;
        overflow: hidden;
        cursor: pointer;
    }
}

@keyframes zoom {
    from{transform: scale(0.8);}
    to{transform: scale(1);}
}
@media screen and  (min-width:1024px){
    .gallery-content{
        width: 95%;
        margin: 0 auto;
    }
    .modal-content{
        width: 700px;
        height: 450px;
        margin: 0 auto;
    }
    .gallery-modal-content{
        width: 40%;
        margin: 0 auto;
    }
    .gallery-modal-image{
        height: 400px;
    }
    .gallery-images-wrapper div{
        width: 80px;
        height: 80px;
    }
}
