.gallery-container{
    width: 100%;
    height: auto;
}
.gallery-content{
    width: 100%;
    margin-bottom: 48px;
    
}
.image-preview{
    width: 100%;
    height: 350px;
    position: relative;
}

.image-preview img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.images-items{
    padding: 8px;
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    overflow-x: scroll;
}
.images-items::-webkit-scrollbar{
    display: none;
}
.image-item{
    width: 95px;
    height: 95px;
    flex-shrink: 0;
    
    overflow: hidden;
    transform: scale(1);
    transition: transform 7s ease-in-out;
}
.image-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}
.image-item:hover img{
    transform: scale(1.1);
}
.arrow{
    color: white;
    font-size: 16px;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top:50%;
    transform: translateY(-50%, -50%);
    -ms-transform: translateY(-50%, -50%);
    z-index: 500;
}
.prev{
    left: 16px;
}
.next{
    right: 16px;
}
@media screen and (min-width:1024px) {
    .gallery-content{
        width: 1050px;
        margin: 0 auto 48px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 3px;
    }
    .image-preview{
        height: 500px;
    }
   .images-items{
        padding: 0 6px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-content: start;
        margin: 0;
        overflow-x: unset;
   }
   .image-item{
        height: 100px;
    }
}
@media screen and (min-width:1220px) {
    .images-items{
     
        grid-template-columns: repeat(autofill, 1fr);
       
   }
    .image-item{
        height: 100px;
    }
}