.contact{
    width: 100%;
}
.contactUs-wrapper{
    width: 100%;
    padding:48px 16px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    text-align: center;
}
.contactUs-wrapper a{
    color: black;
}
.contactUs-address{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.contactUs-logo{
    width: 40px;
    height: 40px;
    background-color: lightblue;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contactUs-address h2{
    text-align: center;
    font-weight: 500;
    position: relative;
    padding-bottom: 24px;
    margin-bottom: 24px;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}
.contactUs-address h2::after{
    content: "";
    width: 64px;
    height: 3px;
    background-color: red;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%, 50%);
}
.contactUs-icons{
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}
.contactUs-icons button{
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 8px;

    & a{
        text-transform: capitalize;
        font-weight: 500;
        font-size: 16px;
        color: white;
    }
    & svg{
        font-size: 20px;
        color: white;
    }
}
.email-btn{
    background-color: rgb(195, 167, 7);
}
.whatsapp-btn{
    background-color: #04931e;
}
.call-btn{
    background-color: #0567b7;
}
.contactUs-reception{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
    margin-top: 32px;
    
    & h2{
        color: black;
        font-weight: 500;
        text-transform: capitalize;
    }
    & a{
        padding: 8px 16px;
    }

}
.contactUs-details{
    display: grid;
    gap: 8px;
    justify-content: center;
}
.contactUs-details label{
    cursor: pointer;
    display: flex;
    gap: 16px;
}

.contactUs-details label span{
    text-align: start;
    font-weight: 400;
}
.contactUs-socialmedia{
    display: flex;
    gap: 32px;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.contactUs-socialmedia-icon{
    width: 35px;
    height: 35px;
    background-color: #f1f1f1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;

    & svg{
        font-size: 16px;
        color: #F27300;
    }
}

@media screen and (min-width:1024px) {
    .contactUs-wrapper{
        width: 1050px;
        margin: 0 auto;
    }
}