header{
    width: 100%;
    padding: 16px;
    color: white;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 900;
}

 header svg{
    color: black;
    font-size: 32px;
}
.menu-bar{
    width: max-content;
    display: flex;
    justify-content: flex-end;
}

.topnav{
    display: none;
}


@media screen and (min-width:1024px) {
    header{
        padding: 16px 20px;
    }
    .sidenav{
        display: none;
    }
    .menu-bar{
        display: none;
    }
    .topnav{
        width: 100%;
        display: contents;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 24px;
    }
   
}