header{
    padding: 16px 16px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 500;
}

 header svg{
    color: black;
    font-size: 32px;
}

.header-logo{
    width: auto;
}
.menu-bar{
    width: max-content;
    display: flex;
    justify-content: flex-end;
}

.header-topnav{
    display: none;
}


@media screen and (min-width:1024px) {
    .sidenav{
        display: none;
    }
    .menu-bar{
        display: none;
    }
    .header-topnav{
        width: 80%;
        display: contents;
        height: 100%;
        width: max-content;
        display: flex;
        align-items: center;

    }
    
}
