.gallery{
    width: 100%;
    padding: 8px;
}
.gallery-navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px;
    row-gap: 24px;
}
.gallery-btn{
    color: black;
    overflow: hidden;
    font-size: 16px;
    padding:  8px 16px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    border-radius: 16px;
}
.gallery-btn:hover{
    color: #F27300;
}
.gallery-btn:focus{
    color: white;
    background-color: #F27300;
}

@media screen and (min-width:1024px) {
    .gallery{
        padding: 16px;
    }
}