footer{
    width: 100%;
    color: white;
    background-color: #02102A;
    background-color: rgb(11, 11, 84);
    padding: 48px 16px;
}
.footer-wrapper{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 64px;
}
.footer-item a{
    color: white;
}
.footer-wrapper svg{
    color: #f8f4ff;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 8px;
    font-size: 16px;
    background-color: rgba(255,255,255,0.1);
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
}
.footer-item h3{
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
  padding-bottom: 3px;
  width: max-content;
  border-bottom: 1px solid white;
}
.footer-item ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-item ul li .quick-link{
    color: white;
    text-transform: capitalize;
}
.footer-item ul li{
    display: flex;
    align-items: center;
    gap: 16px;
}

.room-links{
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
}
.room-links h3{
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
  padding-bottom: 3px;
  width: max-content;
  border-bottom: 1px solid white;
}
.room-links a{
    text-transform: capitalize;
    color: white;
}
.room-links a{
    text-transform: capitalize;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 32px 0;

}
.footer-logo svg{
    color: #f8f4ff;
    width: 32px;
    height: 32px;
    padding: 8px;
    border-radius: 50%;
    font-size: 16px;
    background-color: rgba(255,255,255,0.1);
}
.footer-logo a{
    color: white;
}
.footer-logo i{
    width: 40px;
    height: 40px;
    background-color: goldenrod;
}
.footer-logo h3{
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 3px;
}
.footer-logo div{
    display: flex;
    gap: 24px;
}

.terms-and-conditions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.terms-and-conditions p{
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    & svg{
        margin-right: 6px;
        font-size: 17px;
    }
}

@media screen and (min-width:1024px) {
    .footer-wrapper{
        margin: 0 auto;
        width: 95%;
    }
}
@media screen and (min-width:1440px) {
    .footer-wrapper{
        width: 90%;
        justify-content: space-around;
    }
}