footer{
    width: 100%;
    color: white;
    background-color: black;
}
.footer-wrapper{
    width: 100%;
    padding: 32px 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}
.footer-item a{
    color: white;
}
.footer-wrapper svg{
    color: white;
    font-size: 20px;
}
.footer-item{
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: white;
}
.footer-item h3{
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
  padding-bottom: 3px;
  width: max-content;
  border-bottom: 2px solid white;
}
.footer-item ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.footer-item ul li .quick-link{
    color: white;
    text-transform: capitalize;
}
.footer-item ul li{
    display: flex;
    align-items: center;
    gap: 16px;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 34px 0;
}
.footer-logo i{
    width: 50px;
    height: 50px;
    background-color: goldenrod;
}
.footer-logo h2{
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 3px;
}
.footer-logo div{
    display: flex;
    gap: 24px;
}

@media screen and (min-width:768px) {
    .footer-wrapper{
        width: 95%;
        margin: 0 auto;
    }
   
}
@media screen and (min-width:1024px) {
    .footer-wrapper{
        width: 85%;
    }
}
@media screen and (min-width:1200px) {
    .footer-wrapper{
        width: 70%;
    }
}