.room{
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    flex-shrink: 0;
    padding-bottom: 24px;
}
.room img{
    width: 100%;
    height: 300px;
}
.room-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    padding: 16px 8px;
}
.room-type{
    margin: 0;
    font-weight: 400;
    text-transform: capitalize;
    border: 0;
}
.room-desc{
    height: min(auto, 130px);
    line-height: 1.5;
    text-align: start;
}
.amenities-heading{
    color: black;
    font-weight: 400;
}
.amenities-container{
    width: 100%;
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 38px;
    grid-template-rows: auto;
   
}
.amenities-container li{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.amenities-container li i{
    font-size: 30px; 
}
.amenities-container li h4{
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
}
.room a{
    display: flex;
    align-self: center;
    text-transform: capitalize;
    color: black;
    border: 1px solid goldenrod;
    padding: 12px 32px;
    margin: 32px 16px 16px 16px;
}
@media screen and (min-width:768px) {
    .room{
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }
}

@media screen and (min-width:1024px) {
    .room{
        width: 900px;
    }
}